.container {
    max-width: 1440px;
    margin: 0 auto;
}
body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1, h2, h3, h4 {
    margin: 0;
}
input {
    outline: none;
}

@import 'base/variables';

@import 'blocks/header';
@import 'blocks/view';